body {
    background-color: pink;
    color: white;
}

h2{
    text-align: center;
    justify-content: center;
}
p {
    font-size: 30px;
    font-weight: bold;
}

button {
    background-color: #ff3e3e;
    color: white;
    width: 100px;
    position: absolute;
}

.hidden {
    display: none;
}

.move {
    left: 200px;
}

#change:hover{
    cursor: pointer;
}