body {
    background-color: pink;
    color: rgb(255, 255, 255);
}

#gif {
    width: 50%;
    height: 50%;
}
#main{
    justify-content: center;
    align-items: center;
    /*margin-left: 300px;
    margin-right: 300px;*/
}
h2{
    text-align: center;
    justify-content: center;
    font-size: 60px;
}
p {
    font-size: 30px;
    font-weight: bold;
}

button {
    font-family: inherit;
	font-size: 20px;
	font-weight: 100;
	line-height: inherit;
	cursor: pointer;
	min-width: 10%;
	height: auto;
	padding: 0.65rem 1.25rem;
	border: none;
	outline: none;
	border-radius: 5rem;
	color: white;
	background: rgb(72, 188, 234);
	box-shadow:skyblue;
	text-transform: capitalize;
	text-rendering: optimizeLegibility;
    position: absolute;
}

.hidden {
    display: none;
}

.move {
    left: 200px;
}

#change:hover{
    cursor: pointer;
}


@media only screen and (min-width: 1025px) {
    #demo {
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    #gif {
        width: 100%;
    }
    h2 {
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    #demo {
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    #gif {
        width: 100%;
    }
    h2 {
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
}

@media only screen and (max-width: 440px) {
    #demo {
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    #gif {
        width: 100%;
    }
    h2 {
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    button{
        font-size: 40px;
    }
}